<% provide :title, t("supervisor.courses.new.edit_course") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= t "supervisor.courses.new.edit_course" %></h1>
  </div>
</div>
<div class="row new-course">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:supervisor, @course] do |f| %>
      <%= render "shared/error_messages", object: @course %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control", rows: 10 %>
      </div>

      <div class="form-group">
        <%= f.label :start_date, t("application.model.start_date") %>
        <div class="input-group date datetimepicker">
          <%= f.text_field :start_date, class: "form-control",
            data: {date_format: I18n.t("application.general.date_format")} %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :end_date, t("application.model.end_date") %>
        <div class="input-group date datetimepicker" >
          <%= f.text_field :end_date, class: "form-control",
            data: {date_format: I18n.t("application.general.date_format")} %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <%= f.select :status, Course.statuses.keys.to_a, {}, class: "form-control" %>
      <div>
        <%= f.fields_for :course_subjects do |builder| %>
          <% subject = builder.object.subject %>
          <div>
            <%= builder.hidden_field :subject_id %>
            <%= builder.check_box :_destroy,
              {checked: builder.object.persisted?, class: "form-control"},
                 false, true %>
            <%= subject.name %>
          </div>
        <% end %>
      </div>

      <%= f.submit t("application.button.update"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
