<div class="errors"></div>
<h1><%= t "application.model.subject.name" %></h1>
<table class="table">
  <thead>
    <tr>
      <td><%= t ".name" %></td>
      <td><%= t ".description" %></td>
      <td><%= t ".status" %></td>
      <td><%= t ".action" %></td>
    </tr>
    </thead>
    <tbody>
      <%= render @course_subjects %>
    </tbody>
</table>

