<% provide :title, t("application.general.subject") %>
<div class="page-header">
  <h2><%= @subject.name %></h2>
  <ul class="list-inline pull-left">
    <li><%= link_to t("application.buttons.edit"),
        edit_supervisor_subject_path(@subject), class: "btn btn-primary" %></li>
    <li><%= link_to t("application.buttons.delete"),[:supervisor, @subject], method: :delete, data: {confirm: t("application.general.confirm")}, class: "btn btn-danger" %></li>
  </ul>
</div>

<br>
<br>
<div class="row">
  <div class="col-lg-12">
    <p><%= @subject.description %></p>
    <fieldset class="fsStyle" id="fieldset_task_box">
      <legend><%= t "application.general.task" %></legend>
      <% @tasks.each do |task| %>
        <div class="col-lg-2" id="task_box">
          <h4><%= task.name %></h4>
        </div>
      <% end %>
    </fieldset>
  </div>
</div>
