<div class="center"><h1><%= @subject.name %></h1></div>
<div>
  <div class="col-md-12">
    <div class="col-md-8">
      <% if @subject.tasks.count > 0 %>
        <%= form_for @user_subject, url: user_subject_path(@user_subject) do |f| %>
          <div class="row">
            <%= f.fields_for :user_tasks do |builder| %>
              <div class="col-lg-2">
                <% if builder.object.id.nil? %>
                  <div class="thumbnail text-center task">
                    <h4><%= builder.object.task.name %></h4>
                    <p><%= builder.check_box :task_id, {checked: false},
                      builder.object.task.id %></p>
                      <%= builder.hidden_field :user_id, value: @user_id %>
                  </div>
                <% else %>
                  <div class="thumbnail thumbnail-disable text-center task">
                    <h4><%= builder.object.task.name %></h4>
                    <p><%= builder.check_box :task_id, {checked: true, disabled: true} %></p>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <div>
            <div class="row text-center col-md-2">
              <%= f.submit t(".update"), class: "btn btn-primary" %>
            </div>
            <div class="row text-center col-md-2">
              <%= f.submit t(".finish"),class: "btn btn-primary",
              data: { confirm: t(".confirm")}, name: "finish" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-4">
      <h4><%= t ".progress" %></h4>
      <div class="progress">
        <div class="progress-bar progress-bar-danger progress-bar-striped active"
          role="progressbar" aria-valuemin="0" aria-valuemax="100">
          <%= percent_complete_subject(@subject,@user_subject) %>
        </div>
      </div>
    </div>
  </div>
</div>
