<div class="row">
  <div class="col-md-12">
    <div class="block">
      <%= link_to course do %>
        <h3>
          <%= course.name %>
        </h3>
      <% end %>
      <p>
        <span>
          <i class="glyphicon glyphicon-calendar"></i>
        </span>
        <%= t ".from" %>
        <%= course.start_date.strftime "%d-%m-%Y" %>
        <%= t ".to" %>
        <%= course.end_date.strftime "%d-%m-%Y" %>
      </p>

      <p>
        <%= course.description %>
      </p>
    </div>
  </div>
</div>
